#calender {
		width: 62%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}

	#calender #app-name-portrait {
		display: none;
	}

	#calender #theme-portrait {
		display: none;
	}

	#calender thead tr:first-child th div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#calender h4 {
		margin: 0;
		padding: 0.8vh 0 0.2vh;
		font-size: 1.4vw;
		font-weight: 300;
	}

	#calender h3 {
		font-size: 2vw;
		font-weight: 700;
		margin: 0;
		padding: 0 2vw;
		display: inline-block;
	}

	#calender .weekday {
		font-size: 1.7vw;
		font-weight: 300;
		padding: 8px 0 5px;
		border-bottom: 1px solid #fff !important;
	}

	#calender .icon {
		font-size: 1.2vw;
	}

	#calender .icon:hover {
		opacity: 0.6;
	}

	#calender tbody td {
		height: 5.2vw;
		width: 5.2vw;
		font-size: 0.8vw;
		font-weight: 600;
		vertical-align: top;
		padding: 0.5vw;
		transition: font-size 0.2s ease;
	}

	#calender tbody td:hover {
		font-size: 1.2vw;
	}
	
	#calender #current-day {
		background-color: #E1E1E1; 
	}
	
	#calender img {
		width: 3.8vw;
		vertical-align: top;
		position: relative;
		top: 0.5vw;
	}
